n8n-workflows/freiki-docker-update-check.json
[
  {
    "id": "dockercheck001freiki",
    "name": "FreiKI Docker Update Check",
    "active": true,
    "nodes": [
      {
        "id": "663f98b2-ddb6-4840-a858-d27d2000bb91",
        "name": "Montags 08:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -720,
          -64
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 8 * * 1"
              }
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "62ced04f-6ec7-4d21-8351-8729804c23d3",
        "name": "Docker Images prüfen",
        "type": "n8n-nodes-base.code",
        "position": [
          -288,
          -64
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\n\nconst GITHUB_MAP = {\n  'portainer/portainer-ee': { name: 'Portainer', github: 'portainer/portainer' },\n  'portainer/portainer-ce': { name: 'Portainer', github: 'portainer/portainer' },\n  'mintplexlabs/anythingllm': { name: 'AnythingLLM', github: 'Mintplex-Labs/anything-llm' },\n  'n8nio/n8n': { name: 'n8n', github: 'n8n-io/n8n' },\n  'searxng/searxng': { name: 'SearXNG', github: 'searxng/searxng', githubFallback: 'commits' },\n  'caddy': { name: 'Caddy', github: 'caddyserver/caddy' },\n  'amir20/dozzle': { name: 'Dozzle', github: 'amir20/dozzle' },\n  'vllm/vllm-openai': { name: 'vLLM', github: 'vllm-project/vllm' },\n  'pgvector/pgvector': { name: 'pgvector', github: 'pgvector/pgvector' },\n  'flowiseai/flowise': { name: 'Flowise', github: 'FlowiseAI/Flowise' },\n  'onerahmet/openai-whisper-asr-webservice': { name: 'Whisper', github: 'ahmetoner/whisper-asr-webservice' },\n  'ghcr.io/paperless-ngx/paperless-ngx': { name: 'Paperless', github: 'paperless-ngx/paperless-ngx' },\n  'mattermost/mattermost-team-edition': { name: 'Mattermost', github: 'mattermost/mattermost' },\n};\n\nfunction loadImagesFromCompose() {\n  // Liest die tatsaechlich gepinnten Image-Tags live aus docker-compose.yml\n  // (read-only gemountet unter /data/docker-compose.yml) -- KEINE gepflegte\n  // Kopie mehr, die nach jedem Upgrade von Hand nachgezogen werden muesste.\n  // Auskommentierte Services (z.B. \"# image: ...\") werden automatisch uebersprungen,\n  // da die Zeile dann nicht mit Leerzeichen beginnt.\n  const compose = fs.readFileSync('/data/docker-compose.yml', 'utf8');\n  const images = [];\n  const seen = new Set();\n  for (const line of compose.split('\\n')) {\n    const m = line.match(/^\\s+image:\\s+(.+)$/);\n    if (!m) continue;\n    const imageStr = m[1].trim();\n    const colon = imageStr.lastIndexOf(':');\n    const fullRepo = colon > 0 ? imageStr.slice(0, colon) : imageStr;\n    const tag = colon > 0 ? imageStr.slice(colon + 1) : 'latest';\n    const baseRepo = fullRepo.replace(/^library\\//, '');\n    const mapKey = Object.keys(GITHUB_MAP).find(k => baseRepo === k || baseRepo.startsWith(k));\n    if (!mapKey || seen.has(fullRepo)) continue;\n    seen.add(fullRepo);\n    const meta = GITHUB_MAP[mapKey];\n    const hubRepo = fullRepo.includes('/') ? fullRepo : `library/${fullRepo}`;\n    images.push({ name: meta.name, repo: hubRepo, tag, github: meta.github, githubFallback: meta.githubFallback });\n  }\n  return images;\n}\n\nconst IMAGES = loadImagesFromCompose();\n\nfunction parseSemver(t) {\n  const m = /^v?(\\d+)\\.(\\d+)(?:\\.(\\d+))?/.exec(t || '');\n  if (!m) return null;\n  return [parseInt(m[1], 10), parseInt(m[2], 10), m[3] ? parseInt(m[3], 10) : 0];\n}\nfunction cmpSemver(a, b) {\n  for (let i = 0; i < 3; i++) { if (a[i] !== b[i]) return a[i] - b[i]; }\n  return 0;\n}\n\nconst store = $getWorkflowStaticData('global');\nif (!store.docker_digests) store.docker_digests = {};\n\nconst updates = [];\nconst checked = [];\n\nfor (const img of IMAGES) {\n  let digestChanged = false;\n  let newerVersion = null;\n\n  try {\n    const url = 'https://hub.docker.com/v2/repositories/' + img.repo + '/tags/' + img.tag;\n    const res = await this.helpers.httpRequest({ method: 'GET', url, timeout: 10000 });\n    const digest = res.digest || res.images?.[0]?.digest || res.last_updated || null;\n    const key = img.repo + ':' + img.tag;\n    const stored = store.docker_digests[key];\n    if (digest) {\n      if (stored && stored !== digest) digestChanged = true;\n      store.docker_digests[key] = digest;\n    }\n  } catch (e) {\n    checked.push({ name: img.name, status: 'Digest-Fehler: ' + e.message });\n    continue;\n  }\n\n  const pinned = parseSemver(img.tag);\n  if (pinned) {\n    try {\n      const tagsRes = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://hub.docker.com/v2/repositories/' + img.repo + '/tags?page_size=100&ordering=last_updated',\n        timeout: 15000\n      });\n      let best = null;\n      for (const r of (tagsRes.results || [])) {\n        const v = parseSemver(r.name);\n        if (v && cmpSemver(v, pinned) > 0 && (!best || cmpSemver(v, best) > 0)) best = v;\n      }\n      if (best) newerVersion = best.join('.');\n    } catch (e) {\n      checked.push({ name: img.name, status: 'Versions-Fehler: ' + e.message });\n    }\n  }\n\n  if (digestChanged || newerVersion) {\n    updates.push({ ...img, newerVersion, reason: digestChanged && newerVersion ? 'digest+version' : (digestChanged ? 'digest' : 'version') });\n  }\n  checked.push({ name: img.name, tag: img.tag, newerVersion: newerVersion || '–', status: newerVersion ? 'NEUE VERSION' : (digestChanged ? 'DIGEST GEAENDERT' : 'aktuell') });\n}\n\nreturn [{ json: { updates, count: updates.length, checked } }];"
        },
        "typeVersion": 2
      },
      {
        "id": "0d8cf77e-9172-4b0e-9e4b-772a8a75cf79",
        "name": "Updates vorhanden?",
        "type": "n8n-nodes-base.if",
        "position": [
          -64,
          -64
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 1,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "cond-updates",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $json.count }}",
                "rightValue": 0
              }
            ]
          }
        },
        "typeVersion": 2
      },
      {
        "id": "fb351aac-fb7b-4fce-8042-0475eb1abc22",
        "name": "Changelogs laden",
        "type": "n8n-nodes-base.code",
        "position": [
          160,
          -144
        ],
        "parameters": {
          "jsCode": "const { updates } = $input.first().json;\nconst result = [];\n\nfor (const img of updates) {\n  let notes = 'Keine Changelog-Informationen verfügbar.';\n  let latestTag = '–';\n\n  if (img.changelogUrl) {\n    notes = `Release Notes: ${img.changelogUrl}`;\n    latestTag = img.tag;\n  } else if (img.github) {\n    try {\n      const releases = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://api.github.com/repos/${img.github}/releases?per_page=5`,\n        headers: { 'User-Agent': 'FreiKI-n8n/1.0', 'Accept': 'application/vnd.github.v3+json' },\n        timeout: 10000\n      });\n\n      if (Array.isArray(releases) && releases.length > 0) {\n        latestTag = img.newerVersion || releases[0].tag_name || '–';\n        notes = releases.slice(0, 3).map(r => {\n          const date = r.published_at?.slice(0, 10) || '?';\n          const body = (r.body || 'Keine Release Notes')\n            .replace(/<!--.*?-->/gs, '').replace(/#{1,6}\\s/g, '').trim().slice(0, 800);\n          return `Version ${r.tag_name} (${date}):\\n${body}`;\n        }).join('\\n\\n---\\n\\n');\n\n      } else if (img.githubFallback === 'commits') {\n        const commits = await this.helpers.httpRequest({\n          method: 'GET',\n          url: `https://api.github.com/repos/${img.github}/commits?per_page=10`,\n          headers: { 'User-Agent': 'FreiKI-n8n/1.0', 'Accept': 'application/vnd.github.v3+json' },\n          timeout: 10000\n        });\n        const tags = await this.helpers.httpRequest({\n          method: 'GET',\n          url: `https://api.github.com/repos/${img.github}/tags?per_page=1`,\n          headers: { 'User-Agent': 'FreiKI-n8n/1.0', 'Accept': 'application/vnd.github.v3+json' },\n          timeout: 10000\n        });\n        latestTag = tags[0]?.name || '–';\n        if (Array.isArray(commits) && commits.length > 0) {\n          notes = 'Letzte Änderungen (Commits):\\n' + commits.map(c => {\n            const date = c.commit.author?.date?.slice(0, 10) || '?';\n            const msg = c.commit.message.split('\\n')[0].slice(0, 120);\n            return `• ${date}: ${msg}`;\n          }).join('\\n');\n        }\n      }\n    } catch(e) {\n      notes = `Changelog nicht abrufbar: ${e.message}`;\n    }\n  }\n\n  result.push({ name: img.name, repo: img.repo, tag: img.tag, github: img.github, latestTag, newerVersion: img.newerVersion, notes });\n}\n\nconst promptParts = result.map(r =>\n  `## ${r.name} (${r.repo}:${r.tag})\\nNeuste Version: ${r.latestTag}\\n\\n${r.notes}`\n).join('\\n\\n════════════\\n\\n');\n\nconst prompt = `Du bist ein IT-Administrator-Assistent.\nFolgende Docker-Images haben Updates erhalten. Fasse für jeden die wichtigsten Änderungen in 2–3 Sätzen zusammen.\nBewerte kurz ob ein Update dringend (Sicherheitslücke), empfohlen (wichtige Fixes) oder optional (neue Features) ist.\nWeise explizit auf Breaking Changes hin falls vorhanden.\nSchreibe auf Deutsch, ohne Markdown-Formatierung, keine Codeblöcke.\n\n${promptParts}\n\n/no_think`;\n\nreturn [{ json: { updates: result, prompt } }];"
        },
        "typeVersion": 2
      },
      {
        "id": "a0578f03-da55-447e-8982-91a77dc2abe2",
        "name": "KI Zusammenfassung",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          384,
          -144
        ],
        "parameters": {
          "url": "https://api.deepinfra.com/v1/openai/chat/completions",
          "method": "POST",
          "options": {
            "timeout": 120000
          },
          "jsonBody": "={\n  \"model\": \"Qwen/Qwen3-32B\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }\n  ],\n  \"max_tokens\": 1500,\n  \"temperature\": 0.3\n}",
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.VLLM_API_KEY}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "b66db8b3-bf9c-41c6-827a-969f32c57910",
        "name": "Antwort extrahieren",
        "type": "n8n-nodes-base.code",
        "position": [
          608,
          -144
        ],
        "parameters": {
          "jsCode": "const kiRaw = $('KI Zusammenfassung').first().json;\nconst parsed = typeof kiRaw === 'string' ? JSON.parse(kiRaw) : kiRaw;\nconst body = typeof parsed.body === 'string' ? JSON.parse(parsed.body) : (parsed.body || parsed);\nlet zusammenfassung = body?.choices?.[0]?.message?.content?.trim() || '';\nzusammenfassung = zusammenfassung.replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\nif (!zusammenfassung) zusammenfassung = '(Keine KI-Zusammenfassung verfügbar)';\nconst updates = $('Changelogs laden').first().json.updates;\nreturn [{ json: { zusammenfassung, updates } }];"
        },
        "typeVersion": 2
      },
      {
        "id": "312abcb9-d398-497c-965e-c2f1eb59e2c8",
        "name": "Markdown erstellen",
        "type": "n8n-nodes-base.code",
        "position": [
          832,
          -144
        ],
        "parameters": {
          "jsCode": "function mdToHtml(md) {\n  const esc = s => s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const inline = s => esc(s).replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>').replace(/\\*(.+?)\\*/g, '<em>$1</em>');\n  const lines = md.split('\\n');\n  let html = '';\n  let inList = false;\n  const closeList = () => { if (inList) { html += '</ul>'; inList = false; } };\n  for (let line of lines) {\n    line = line.trim();\n    if (!line) { continue; }\n    if (/^-{3,}$/.test(line)) { closeList(); html += '<hr style=\"border:none;border-top:1px solid #e5e7eb;margin:14px 0;\">'; continue; }\n    let m;\n    if ((m = /^#{2,4}\\s+(.*)$/.exec(line))) {\n      closeList();\n      html += `<h3 style=\"font-size:14px;color:#1E3A8A;margin:14px 0 6px;\">${inline(m[1])}</h3>`;\n      continue;\n    }\n    if ((m = /^[-*]\\s+(.*)$/.exec(line))) {\n      if (!inList) { html += '<ul style=\"margin:4px 0 8px;padding-left:20px;\">'; inList = true; }\n      html += `<li style=\"font-size:13px;color:#374151;margin-bottom:4px;\">${inline(m[1])}</li>`;\n      continue;\n    }\n    closeList();\n    html += `<p style=\"margin:0 0 8px;font-size:13px;color:#374151;\">${inline(line)}</p>`;\n  }\n  closeList();\n  return html;\n}\n\nconst { zusammenfassung, updates } = $input.first().json;\nconst datum = new Date().toLocaleDateString('de-DE', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst th = (t) => `<th style=\"padding:8px 12px;background:#1E3A8A;color:#fff;font-size:12px;font-weight:600;text-align:left;\">${t}</th>`;\nconst td = (t, bg='#fff') => `<td style=\"padding:7px 12px;font-size:13px;border-bottom:1px solid #e5e7eb;background:${bg};\">${t}</td>`;\n\nconst rows = updates.map((u, i) => {\n  const bg = i % 2 === 0 ? '#fff' : '#f8fafc';\n  return `<tr>\n    ${td(`<strong>${u.name}</strong>`, bg)}\n    ${td(`${u.repo}:${u.tag}`, bg)}\n    ${td(u.newerVersion || u.latestTag || '–', bg)}\n  </tr>`;\n}).join('');\n\nconst table = `\n<table style=\"width:100%;border-collapse:collapse;border-radius:8px;overflow:hidden;margin-bottom:20px;\">\n  <thead><tr>${th('Service')}${th('Image')}${th('Neue Version')}</tr></thead>\n  <tbody>${rows}</tbody>\n</table>`;\n\nconst summaryHtml = mdToHtml(zusammenfassung);\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto;color:#0e0f0f;\">\n\n  <div style=\"background:linear-gradient(135deg,#1E3A8A,#2B9CD8);padding:24px 28px;border-radius:10px 10px 0 0;\">\n    <h1 style=\"margin:0;color:#fff;font-size:20px;\">🐳 Docker Update-Bericht</h1>\n    <p style=\"margin:6px 0 0;color:rgba(255,255,255,0.85);font-size:13px;\">${datum} – ${updates.length} Update(s) verfügbar</p>\n  </div>\n\n  <div style=\"background:#fff;padding:24px 28px;border:1px solid #e5e7eb;border-top:none;\">\n\n    <h2 style=\"font-size:15px;color:#1E3A8A;border-bottom:2px solid #bfdbfe;padding-bottom:6px;margin:0 0 12px;\">Verfügbare Updates</h2>\n    ${table}\n\n    <h2 style=\"font-size:15px;color:#1E3A8A;border-bottom:2px solid #bfdbfe;padding-bottom:6px;margin:20px 0 12px;\">Was ist neu?</h2>\n    <div style=\"background:#f8fafc;border-left:4px solid #2B9CD8;padding:14px 16px;border-radius:4px;\">\n      ${summaryHtml}\n    </div>\n\n    <div style=\"margin-top:20px;background:#fef9c3;border:1px solid #fde047;border-radius:8px;padding:12px 16px;\">\n      <p style=\"margin:0;font-size:12px;color:#713f12;\"><strong>Hinweis:</strong> Updates bitte manuell durchführen und vorher testen. Nach dem Pull: <code>docker compose up -d [service]</code></p>\n    </div>\n\n  </div>\n\n  <div style=\"background:#f8fafc;padding:12px 28px;border:1px solid #e5e7eb;border-top:none;border-radius:0 0 10px 10px;font-size:11px;color:#9ca3af;text-align:center;\">\n    FreiKI · Automatisch generiert\n  </div>\n\n</div>`;\n\nreturn [{ json: { html, subject: `🐳 ${updates.length} Docker-Update(s) verfügbar – ${datum}` } }];"
        },
        "typeVersion": 2
      },
      {
        "id": "558ea737-8bcc-4346-89c9-469f64f6d368",
        "name": "Docker Update per Mail",
        "type": "n8n-nodes-base.emailSend",
        "position": [
          1040,
          -144
        ],
        "webhookId": "f1b93011-5222-4400-ab16-f12fc4dccca5",
        "parameters": {
          "html": "={{ $json.html }}",
          "options": {},
          "subject": "={{ $json.subject || '🐳 FreiKI Docker Update' }}",
          "toEmail": "admin@freiki.com",
          "fromEmail": "ki_agent@freiki.com"
        },
        "credentials": {
          "smtp": {
            "id": "beeSlBjHTMsDpZSe",
            "name": "FreiKI SMTP (ki_agent)"
          }
        },
        "typeVersion": 2.1
      }
    ],
    "connections": {
      "Montags 08:00": {
        "main": [
          [
            {
              "node": "Docker Images prüfen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Docker Images prüfen": {
        "main": [
          [
            {
              "node": "Updates vorhanden?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Updates vorhanden?": {
        "main": [
          [
            {
              "node": "Changelogs laden",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Changelogs laden": {
        "main": [
          [
            {
              "node": "KI Zusammenfassung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KI Zusammenfassung": {
        "main": [
          [
            {
              "node": "Antwort extrahieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Antwort extrahieren": {
        "main": [
          [
            {
              "node": "Markdown erstellen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Markdown erstellen": {
        "main": [
          [
            {
              "node": "Docker Update per Mail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "triggerCount": 1
  }
]
