n8n-workflows/health-check-llm-embedding-rag-frankki.json
[
  {
    "updatedAt": "2026-06-30T18:53:15.550Z",
    "createdAt": "2026-06-30T18:46:12.888Z",
    "id": "853b0402a6914e6d",
    "name": "Health-Check: LLM + Embedding + RAG + Login + Archiv",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/15 * * * *"
              }
            ]
          }
        },
        "id": "cron",
        "name": "Alle 15 Min",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -32,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mistral.ai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED-ROTATED-TOKEN"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{ \"model\": \"mistral-medium-latest\", \"messages\": [{\"role\": \"user\", \"content\": \"Hallo\"}], \"max_tokens\": 10 }",
          "options": {
            "timeout": 30000
          }
        },
        "id": "llm",
        "name": "Test LLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          -80
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mistral.ai/v1/embeddings",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED-ROTATED-TOKEN"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"model\": \"mistral-embed\",\n  \"input\": [\"Test\"]\n}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "embed",
        "name": "Test Embedding",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          96
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  (SELECT count(*) FROM kb_beb_stellungnahmen WHERE embedding IS NOT NULL) AS stellungnahmen,\n  (SELECT count(*) FROM kb_beb_tagungen       WHERE embedding IS NOT NULL) AS tagungen,\n  (SELECT count(*) FROM kb_beb_grundlagen     WHERE embedding IS NOT NULL) AS grundlagen",
          "options": {}
        },
        "id": "rag",
        "name": "Test RAG",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          224,
          272
        ],
        "credentials": {
          "postgres": {
            "id": "RtGbSsO0K5UqGVHs",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst llm    = items[0];\nconst embed  = items[1];\nconst rag    = items[2];\nconst login  = items[3];\nconst archiv = items[4];\n\nconst appName = 'FrankKI';\nconst errors = [];\n\nif (!llm || llm.error || !llm.json?.choices?.[0]) {\n  errors.push('LLM: ' + (llm?.error?.message || JSON.stringify(llm?.json) || 'Keine Antwort'));\n}\nif (!embed || embed.error || !embed.json?.data?.[0]?.embedding?.length) {\n  errors.push('Embedding: ' + (embed?.error?.message || JSON.stringify(embed?.json) || 'Kein Vektor'));\n}\nif (!rag || rag.error) {\n  errors.push('RAG-DB: ' + (rag?.error?.message || 'Keine Verbindung'));\n} else {\n  const r = rag.json;\n  const missing = [];\n  if (!r?.stellungnahmen || parseInt(r.stellungnahmen) === 0) missing.push('kb_beb_stellungnahmen');\n  if (!r?.tagungen       || parseInt(r.tagungen)       === 0) missing.push('kb_beb_tagungen');\n  if (!r?.grundlagen     || parseInt(r.grundlagen)     === 0) missing.push('kb_beb_grundlagen');\n  if (missing.length > 0) errors.push('RAG leer/keine Embeddings: ' + missing.join(', '));\n}\nif (!login || login.error || !login.json?.token) {\n  errors.push('Login: ' + (login?.error?.message || JSON.stringify(login?.json) || 'Kein Token'));\n}\nif (!archiv || archiv.error || archiv.json?.count === undefined || archiv.json?.count === 0) {\n  errors.push('Archiv: ' + (archiv?.error?.message || JSON.stringify(archiv?.json) || 'Keine Ergebnisse'));\n}\n\nconst ok = errors.length === 0;\nreturn [{\n  json: {\n    ok, appName, errors,\n    subject: ok\n      ? '[OK] ' + appName + ' Health-Check: Alles in Ordnung'\n      : '[FEHLER] ' + appName + ' Health-Check: ' + errors.length + ' Problem(e)',\n    body: ok\n      ? appName + ': LLM, Embedding, RAG, Login und Archiv laufen einwandfrei.'\n      : appName + ' meldet Probleme:\\\\n\\\\n' + errors.join('\\\\n') + '\\\\n\\\\nBitte prüfen.'\n  }\n}];"
        },
        "id": "auswerten",
        "name": "Auswerten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          96
        ]
      },
      {
        "parameters": {
          "fromEmail": "ki_agent@fst60.de",
          "toEmail": "admin@freiki.com",
          "subject": "={{ $json.subject }}",
          "emailFormat": "text",
          "text": "={{ $json.body }}",
          "options": {}
        },
        "id": "mail",
        "name": "Mail senden",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1360,
          96
        ],
        "webhookId": "00aaacd6-cdde-4261-8288-4f608e5eb4d8",
        "credentials": {
          "smtp": {
            "id": "QvP39N0LGtB8pF7K",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "numberInputs": 5
        },
        "id": "merge",
        "name": "Zusammenführen",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          464,
          80
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://FreiKI:3000/api/login",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"username\": \"healthcheck\", \"password\": \"Hc#Check2026Test\"}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "login",
        "name": "Test Login",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          448
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://paperless.fst60.de/api/documents/?query=und&page_size=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token 1996a66be50c5a51211873ace9ef7f097e1c6726"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "archiv",
        "name": "Test Archiv",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          624
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "ifok",
        "name": "Nur bei Fehler",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1136,
          96
        ]
      }
    ],
    "connections": {
      "Test LLM": {
        "main": [
          [
            {
              "node": "Zusammenführen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Test Embedding": {
        "main": [
          [
            {
              "node": "Zusammenführen",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Test RAG": {
        "main": [
          [
            {
              "node": "Zusammenführen",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Zusammenführen": {
        "main": [
          [
            {
              "node": "Auswerten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auswerten": {
        "main": [
          [
            {
              "node": "Nur bei Fehler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Test Login": {
        "main": [
          [
            {
              "node": "Zusammenführen",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Test Archiv": {
        "main": [
          [
            {
              "node": "Zusammenführen",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "Alle 15 Min": {
        "main": [
          [
            {
              "node": "Test LLM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Test Embedding",
              "type": "main",
              "index": 0
            },
            {
              "node": "Test RAG",
              "type": "main",
              "index": 0
            },
            {
              "node": "Test Login",
              "type": "main",
              "index": 0
            },
            {
              "node": "Test Archiv",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nur bei Fehler": {
        "main": [
          [],
          [
            {
              "node": "Mail senden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "6c3e8fff-6fd8-4c6d-ac47-9d7756a671fb",
    "activeVersionId": "6c3e8fff-6fd8-4c6d-ac47-9d7756a671fb",
    "versionCounter": 3,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-06-30T18:46:12.888Z",
        "createdAt": "2026-06-30T18:46:12.888Z",
        "role": "workflow:owner",
        "workflowId": "frankki-health-check01",
        "projectId": "oVXNy4S7MUKlbMCE",
        "project": {
          "updatedAt": "2026-06-27T19:39:47.938Z",
          "createdAt": "2026-06-27T19:38:58.464Z",
          "id": "oVXNy4S7MUKlbMCE",
          "name": "Frank Stefan <frank@frank-stefan.de>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "51a4e538-6de0-4904-a5b1-f0b61b660711"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version 6c3e8fff",
      "description": ""
    }
  }
]